*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

body{
    background-color: rgb(85, 4, 190);
    color: white;
}
h1{
    text-align: center;
    margin: 100px auto 0px;
    font-weight: 600;
}

form{
    background-color: rgb(46, 3, 87);
    width: 90%;
    max-width: 600px;
    margin: auto;
    height: 80px;
    display: flex;
    align-items: center;
    border-radius: 8px;
}
form input{
    flex: 1;
    height: 100%;
    border: 0;
    outline: 0;
    background-color: transparent;
    color: white;
    font-size: 18px;
    padding: 0 30px;
}

form button{
    height: 100%;
    padding: 0 40px;
    font-size: 18px;
    border: 0;
    outline: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
}

::placeholder{
    color: rgba(255, 255, 255, 0.507);
    font-size: 18px;
}

#show-more-btn{
    background-color: rgb(46, 3, 87);
    color: white;
    font-size: 18px;
    border: 0;
    outline: 0;
    padding: 10px 20px;
    border-radius: 4px;
    margin: 10px auto 100px;
    cursor: pointer;
    display: none;
}

#show-more-btn:hover{
    opacity: .8;
}
#show-more-btn:active{
    background-color: white;
    color: rgb(46, 3, 87);
}


#search-result{
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 40px;
}

#search-result img{
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 5px;
}

footer{
    background-color: rgb(46, 3, 87);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .6rem;
    height: 50px;
    width: 100%;
    position: relative;
    bottom: -183px;
}

p{
   text-align: center;
   margin-bottom: 50px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: .8rem;
   color: rgba(255, 255, 255, 0.555);
}

@media (max-width: 390px){
    /* body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    } */
    h1{
        text-align: center;
        font-size: 1rem;
        position: relative;
        /* left: -70px; */
    }
    p{
        position: relative;
        /* left: -70px; */
    }
    form{
        background-color: rgb(46, 3, 87);
        width: 90%;
        max-width: 400px;
        /* min-width: 200px; */
        margin: auto;
        height: 40px;
        display: flex;
        align-items: center;
        border-radius: 8px;
        position: relative;
        /* left: -80px; */
    }
    form input{
        width: 30px;
        height: 100%;
        border: 0;
        outline: 0;
        background-color: transparent;
        color: white;
        font-size: .7rem;
        padding: 0 20px;
    }
    
    form button{
        height: 100%;
        padding: 0 7px;
        font-size: .7rem;
        border: 0;
        outline: 0;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        cursor: pointer;
    }
    ::placeholder{
        font-size: .7rem;
    }

    
#search-result{
    width: 80%;
    margin: 10px auto 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
    position: relative;
    /* left: -78px; */
}

#search-result img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
#show-more-btn{
    background-color: rgb(46, 3, 87);
    color: white;
    font-size: .7rem;
    border: 0;
    outline: 0;
    padding: 5px 10px;
    border-radius: 4px;
    margin: 10px auto 100px;
    cursor: pointer;
    display: none;
    position: relative;
    /* left: -70px; */
}
}

@media (min-width:380px) and (max-width:1200px){
    footer{
        font-size: .5rem;
        display: none;
    }
}